body {
    margin: 0;
    padding: 0;
}

nav{
    height: 13vh;
    display: flex;
    align-items: center;
    background-color: cornsilk;
}

.container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.container > a {
    text-decoration: none;
    font-size: 15px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding: 3px;
}

.container > a:hover{
    color: brown;
    border-color: violet;
}

.contenido{
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
}

.noticias{
    width: 75%;
    background-color: aquamarine;
}

.menulateral{
    width: 25%;
    background-color: burlywood;
}

footer{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}